:root {
    --background-color: #eee;
    --white: #fff;
    --grey: #898c8d;
    --nav-color: #27ae61;
    --nav-hover-color: #209151;
    --hover-color: #e5e5e5;
    --border-radius: 4px;
    --text-black: #333;
    --xs-fz: 12px;
    --sm-fz: 14px;
    --md-fz: 16px;
    --lg-fz: 24px;
}

/* Begin: Reset */
* {
    box-sizing: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

/* End: Reset */


/* Begin: Commons */
/* #Margin */
.mt-8 {
    margin-top: 8px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mr-6 {
    margin-right: 6px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

/* #Padding */
.pt-6 {
    padding-top: 6px !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

.pr-6 {
    padding-right: 6px !important;
}

.pl-6 {
    padding-left: 6px !important;
}

/* #Background color */
.bg-grey {
    background-color: #898c8d !important;
}

.bg-green {
    background-color: #27ae61 !important;
}

.bg-aqua {
    background-color: #dcf4fc !important;
}

/* Text color */
.text-red {
    color: #ff0000 !important;
}

.text-blue {
    color: #0000ff;
}

/* #Text align */
.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.tbl {
    border-collapse: collapse;
}

.tbl__row {
    border: 1px solid #e8e8e8;
    background-color: #fff;
}

.tbl__cell {
    padding: 4px 8px;
    font-size: 12px;
}

/* #Button */
.btn {
    padding: 0 12px;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    min-width: 100px;
    height: 36px;
    border: none;
    border-radius: var(--border-radius);
    /* background-color: var(--nav-color) !important; */
    vertical-align: middle;
}

.btn.bg-green:hover {
    background-color: var(--nav-hover-color) !important;
}

.btn.bg-grey:hover {
    background-color: #787b7d !important;
}

/* #Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.36);
}

.modal__body {
    z-index: 1;
    border-radius: var(--border-radius);
    overflow: hidden;
    animation: growth ease-in-out 0.4s;
    margin: 128px auto;
    position: relative;
    width: max-content;
    background-color: var(--white);
}

.modal__inner {
    margin: auto;
    padding: 16px;
}

/* #Form */

.form-input {
    padding: 4px 8px;
}

.form-confirm {
    display: flex;
    justify-content: flex-end;
}

.lbl {
    padding: 0 0 4px 4px;
    font-size: 16px;
    display: block;
}

.slc {
    padding: 0 4px;
    height: 32px;
    min-width: 60px;
    outline: none;
    border: 1px solid #d1d1d1;
}

.inp {
    border: 1px solid #d1d1d1;
    outline: none;
    font-size: 16px;
    width: 320px;
    height: 32px;
    padding: 0 6px;
}


.inp:focus {
    outline: 1px solid var(--nav-hover-color);
}

/* #Pagination */
.pagination {
    font-size: 16px;
    display: flex;
}

.pagination-item {
    display: inline-block;
    /* padding: 0 6px; */
    cursor: pointer;
    color: var(--grey) !important;
    border-radius: var(--border-radius);
}

.pagination-item:hover {
    background-color: var(--hover-color);
}

.pagination-item.active {
    background-color: var(--nav-color);
    color: var(--white) !important;
}

.pagination-item.disabled {
    display: none;
}


.pagination-item-link {
    display: block;
    color: inherit;
    padding: 0 6px;
}

/* #Show/Hide */
.showed {
    display: block;
}

/* #Annimation */
@keyframes growth {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

/* End: Commons */